<header role="banner" class=" border-t-4 sm:border-0 border-red-600 z-50">
  {{ page.header }}
  <div class="relative overflow-hidden shadow-dark-1 bg-red-600">
    <div class="hidden sm:flex sm:flex-col sm:justify-end items-end max-w-8xl m-auto px-3xl xl:px-0">
      <div class="flex">
        <div class="nav-triangles"></div>
        <ul class="util-nav--list flex justify-end mb-0">
          {% if lib_util_nav1_text %}
            <li class="flex flex-col justify-center">
              <a class="p-md text-sm text-white transition-colors hover:text-warm-grey-200" href="{{ lib_util_nav1_url }}">
                {{ lib_util_nav1_text }}
              </a>
            </li>
          {% endif %}
          {% if lib_util_nav2_text %}
            <li class="flex flex-col justify-center">
              <a class="p-md text-sm text-white transition-colors hover:text-warm-grey-200" href="{{ lib_util_nav2_url }}">
                {{ lib_util_nav2_text }}
              </a>
            </li>
          {% endif %}
          {% if lib_util_nav3_text %}
            <li class="flex flex-col justify-center">
              <a class="p-md text-sm text-white transition-colors hover:text-warm-grey-200" href="{{ lib_util_nav3_url }}">
                {{ lib_util_nav3_text }}
              </a>
            </li>
          {% endif %}
          {% if lib_util_nav4_text %}
            <li class="flex flex-col justify-center">
              <a class="p-md text-sm text-white transition-colors hover:text-warm-grey-200" href="{{ lib_util_nav4_url }}">
                {{ lib_util_nav4_text }}
              </a>
            </li>
          {% endif %}
          {% if lib_util_nav5_text %}
            <li class="flex flex-col justify-center">
              <a class="p-md text-sm text-white transition-colors hover:text-warm-grey-200" href="{{ lib_util_nav5_url }}">
                {{ lib_util_nav5_text }}
              </a>
            </li>
          {% endif %}
        </ul>
        <button class="js-main-search-button bg-red-600 hover:bg-red-400 hover:shadow-dark-2 rounded text-md text-white hover:text-warm-grey-200 transition-colors">
          <i class="fas fa-search leading-normal p-md"></i>
        </button>
      </div>
      <span class="js-search-wrapper hidden">
        {{page.utility_menu}}
      </span>
    </div>
  </div>
  <div class="main-nav--wrap border-b-2 border-yellow-500 md:px-lg px-3xl bg-white ">
    <div class="main-nav relative flex flex-wrap justify-between align-bottom max-w-8xl m-auto">
      <div class="logo-wrap flex-shrink-0 mt-lg mb-md">
        <div class="logo">
          <a href="/">
            <img class="max-w-full" src="{{ relative_logo_url }}" alt="ISU Library Logo">
          </a>
        </div>
      </div>
      {# <div class="inline-block"> #}
      {# </div> #}
      <div class="hidden flex-col justify-around w-xl h-xl mt-lg mb-md">
        <span class="block w-full h-2xs bg-red-500 rounded"></span>
        <span class="block w-full h-2xs bg-red-500 rounded"></span>
        <span class="block w-full h-2xs bg-red-500 rounded"></span>
      </div>
      <div class="flex-grow flex flex-col justify-end z-50">
        {{ page.primary_menu }}
      </div>
    </div>
  </div>
</header>
