{# <div>
  <div>{{ page.secondary_menu }}</div>
  <div>{{ page.primary_menu }}</div>
</div> #}

<div class="util-nav--wrap bg-red-600">
  <div class="util-nav px-3xl">
    <div class="triangles"></div>
    <ul class="util-nav--list">
      {% if lib_util_nav1_text %}
        <li>
          <a href="{{ lib_util_nav1_url }}">
            {{ lib_util_nav1_text }}
          </a>
        </li>
      {% endif %}
      {% if lib_util_nav2_text %}
        <li>
          <a href="{{ lib_util_nav2_url }}">
            {{ lib_util_nav2_text }}
          </a>
        </li>
      {% endif %}
      {% if lib_util_nav3_text %}
        <li>
          <a href="{{ lib_util_nav3_url }}">
            {{ lib_util_nav3_text }}
          </a>
        </li>
      {% endif %}
      {% if lib_util_nav4_text %}
        <li>
          <a href="{{ lib_util_nav4_url }}">
            {{ lib_util_nav4_text }}
          </a>
        </li>
      {% endif %}
      {% if lib_util_nav5_text %}
        <li>
          <a href="{{ lib_util_nav5_url }}">
            {{ lib_util_nav5_text }}
          </a>
        </li>
      {% endif %}

      {{page.utility_menu}}
    </ul>
  </div>
</div>
<div class="main-nav--wrap md:px-lg px-3xl">
  <div class="main-nav">
    <div class="logo-wrap">
      <div class="logo">
        <a href="/">
          <img src="{{ relative_logo_url }}" alt="ISU Library Logo">
        </a>
      </div>
    </div>
    {{ page.primary_menu }}
  </div>
</div>
