{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{html_attributes}}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <link rel="preload" href="/nimbus-sans/css/nimbus-sans.css" as="style">
      <css-placeholder token="{{ placeholder_token }}">
        <js-placeholder token="{{ placeholder_token }}">
          <script src="https://kit.fontawesome.com/91b7cf6753.js" crossorigin="anonymous"></script>
          {# <script defer src="/themes/custom/typhoon/fonts/fontawesome/js/all.js"></script> #}
          <!-- Primary Meta Tags -->
      <title>
        {{ head_title|safe_join(' | ') }}
      </title>
          <meta name="title" content="{{ head_title|safe_join(' | ') }}">
          <meta name="description" content="{{ site_slogan }}">

          <!-- Open Graph / Facebook -->
          <meta property="og:type" content="website">
          <meta property="og:url" content="https://dev-intra.lib.iastate.edu/">
          <meta property="og:title" content="{{ head_title|safe_join(' | ') }}">
          <meta property="og:description" content="{{site_slogan}}">
          <meta property="og:image" content="https://dev-intra.lib.iastate.edu/images/Social-media-img.jpg">

          <!-- Twitter -->
          <meta property="twitter:card" content="summary_large_image">
          <meta property="twitter:url" content="https://dev-intra.lib.iastate.edu/">
          <meta property="twitter:title" content="{{ head_title|safe_join(' | ') }}">
          <meta property="twitter:description" content="{{site_slogan}}">
          <meta property="twitter:image" content="https://dev-intra.lib.iastate.edu/images/Social-media-img.jpg">
        </head>
        <body{{attributes}}>
          {# Keyboard navigation/accessibility link to main content section in page.html.twig.  #}
          <a href="#main-content" class="visually-hidden focusable">
            {{ 'Skip to main content'|t }}
          </a>
          {{ page_top }}
          {{ page }}
          {{ page_bottom }}
          <div class="js-modal-outer h-[100vh] w-[100vw] fixed grid w-full h-full justify-items-center items-center top-0 left-0 pt-2xl opacity-0 bg-red-900 bg-opacity-90 pointer-events-none transition">
             <figure class="relative overflow-hidden max-w-[85vw] xl:max-w-[45vw]  text-center mx-auto">
             </figure>
          </div>
          <js-bottom-placeholder token="{{ placeholder_token }}">
        </body>
        </html>
