{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% import "@typhoon/components/_header-special.html.twig" as headerSpecial %}
{% import "@typhoon/components/_basic-cards.html.twig" as card %}
{% import "@typhoon/components/_news-cards.html.twig" as newsCard %}

{% set header = lib_homepage_header_header %}
{% set tagline = lib_homepage_header_tagline %}

{% set test_image = '/themes/custom/typhoon/images/Above as Below_1.jpg' %}

<div class="front-page">
  <header role="banner">
    {{ page.header }}
    {% include "@typhoon/navigation/nav.html.twig" %}
  </header>
  <div
    class="typhoon-grid grid grid-cols-12 mx-auto">

    {# {{ page.breadcrumb }} #}
    {{ page.highlighted }}
    {{ page.help }}

    <main role="main" class="col-span-full">
      <a id="main-content" tabindex="-1"></a>
      <article class="hero--wrap">
        <div class="hero flex flex-col justify-end xl:px-xl">
          <div class="xl:w-8xl xl:max-w-8xl mx-xl md:mx-4xl xl:mx-auto">
            {{ headerSpecial.header({
              title: lib_homepage_header_header,
              tagline: lib_homepage_header_tagline,
            }) }}
          </div>
        </article>
        <article class="staff-news-feed pt-6xl pb-7xl xl:px-xl">
          <div aria-hidden="true" class="flair-img staff-news--dots-red-bars">
            <img src="/themes/custom/typhoon/images/dot-pattern-red-bars.png" alt="">
          </div>
          <div aria-hidden="true" class="flair-img staff-news--dots-yellow-triangles">
            <img src="/themes/custom/typhoon/images/dot-pattern-yellow-triangles.png" alt="">
          </div>
          <div class="xl:max-w-8xl mx-xl md:mx-4xl xl:mx-auto">
            <h2 class="heading-underline mb-2xl">
              Staff News
            </h2>

            <div
              class="Parent">

              <!-- if staff news content found -->

              {% if staff_news_custom %}

                <ul class="news-card--wrap ">

                  {% for item in staff_news_custom %}

                    {% if loop.index < 3 %}
                      <!--a href="/node/{{item['id']}}" class="news-card--link br4" style="background-image: url('{{item['image_uri']}}'); z -index: 2;  "-->
                      <li>
                        {{newsCard.lead({
                            imgSrc: item['image_uri'],
                            imgAlt: item['title'],
                            link: 'node/'.item['id'],
                            category: 'News things',
                            title: item['title'],
                            text: item['body_summary'],
                            linkText: 'Read this story',
                        })}}
                        <!-- {{item['image_uri']}} -->
                      </li>

                    <!-- smaller subset items?  -->
                    {% else %}
                      <li>
                        {{newsCard.basic({
                            imgSrc: item['image_uri'],
                            imgAlt: item['title'],
                            link: 'node/'.item['id'],
                            category: 'News things',
                            title: item['title'],
                            text: item['body_summary'],
                            linkText: 'Read this story',
                        })}}
                      </li>
                    {% endif %}

                  {% endfor %}

                <!-- else default test content -->
                {% else %}

                  <ul class="news-card--wrap ">
                    <li>
                      {{newsCard.lead({
                  imgSrc: test_image,
                  imgAlt: 'alt',
                  link: custom_test_link_1,
                  category: 'News things',
                  title: custom_test_variable_2 ,
                  text: 'teIrure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco sint.Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco sint.Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco sint.Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco sint.Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco sint.',
                  linkText: 'Read this story',
                })}}
                    </li>
                    <li>
                      {{newsCard.lead({
                  imgSrc: test_image,
                  imgAlt: 'alt',
                  link: '/',
                  category: 'News things',
                  title: 'A title with words here',
                  text: 'tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam. tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam.',
                  linkText: 'Read this story',
                })}}
                    </li>

                  <li>
                    {{newsCard.basic({
                  imgSrc: test_image,
                  imgAlt: 'alt',
                  link: '/',
                  category: 'News things',
                  title: 'A title with words here',
                  text: 'tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam. tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam.',
                  linkText: 'Read this story',
                })}}
                  </li>
                  <li>
                    {{newsCard.basic({
                  imgSrc: test_image,
                  imgAlt: 'alt',
                  link: '/',
                  category: 'News things',
                  title: 'A title with words here',
                  text: 'tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam. tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam.',
                  linkText: 'Read this story',
                })}}
                  </li>
                  <li>
                    {{newsCard.basic({
                  imgSrc: test_image,
                  imgAlt: 'alt',
                  link: '/',
                  category: 'News things',
                  title: 'A title with words here',
                  text: 'tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam. tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam.',
                  linkText: 'Read this story',
                })}}
                  </li>
                  <li>
                    {{newsCard.basic({
                  imgSrc: test_image,
                  imgAlt: 'alt',
                  link: '/',
                  category: 'News things',
                  title: 'A title with words here',
                  text: 'tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam. tempor dolor ea est. Officia sint ea est eu anim et in dolore cupidatat exercitation enim dolore mollit veniam.',
                  linkText: 'Read this story',
                })}}
                  </li>

             <!-- end staff news -->
            {% endif %}

                </ul>
                <a class="cta" href="/">
                  More news stories
                </a>
              </div>
            </article>
            <article class="cta-section xl:px-xl">
              <div class="xl:max-w-8xl mx-xl md:mx-4xl xl:mx-auto">
                <div class="cta-content flex flex-col items-start justify-around md:items-center md:justify-around md:flex-row">
                  <div class="cta-text max-w-xl mt-5xl md:mt-0 md:mr-xs mb-2xl sm:mb-0 xl:max-w-2xl">
                    <h2 class="heading-underline text-white">
                      Explore
                    </h2>
                    <p class="text-white mb-lg lg:text-lg xl:text-lg">
                      Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco sint. Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi
                    </p>
                    <a href="/" class="button button-secondary">
                      Not sure where this should go!
                    </a>
                  </div>
                  <div class="cta-card--stack flex flex-row flex-wrap justify-around mt-4xl -mb-4xl md:flex-col md:items-center md:-mt-4xl">
                    <div class="cta-card duration-300 ease transform md:hover:scale-110 overflow-hidden z-10 xs:w-11/12 md:w-72">
                      <a href="" class="cta-card--link">
                        <figure class="cta-card--image relative w-full m-0">
                          <img class="absolute-center max-w-full" src="{{test_image}}" alt="">
                          <figcaption class="pl-lg py-xs pr-2xl text-lg text-white">
                            Forms
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="cta-card duration-300 ease transform md:hover:scale-110 overflow-hidden z-10 xs:w-11/12 md:w-72">
                      <a href="" class="cta-card--link">
                        <figure class="cta-card--image relative w-full m-0">
                          <img class="absolute-center max-w-full" src="{{test_image}}" alt="">
                          <figcaption class="pl-lg py-xs pr-2xl text-lg text-white">
                            Resources
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="cta-card duration-300 ease transform md:hover:scale-110 overflow-hidden z-10 xs:w-11/12 md:w-72">
                      <a href="" class="cta-card--link">
                        <figure class="cta-card--image relative w-full m-0">
                          <img class="absolute-center max-w-full" src="{{test_image}}" alt="">
                          <figcaption class="pl-lg py-xs pr-2xl text-lg text-white">
                            Staff
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {# </div> #}
            </article>
            <article class="quick-links-section pt-6xl xl:px-xl">
              <div aria-hidden="true" class="flair-img quick-links--yellow-triangles">
                <img src="/themes/custom/typhoon/images/large-yellow-triangles.png" alt="">
              </div>
              <div aria-hidden="true" class="flair-img quick-links--red-bars">
                <img src="/themes/custom/typhoon/images/large-red-bars.png" alt="">
              </div>
              <div aria-hidden="true" class="flair-img quick-links--dots">
                <img src="/themes/custom/typhoon/images/large-dots.png" alt="">
              </div>
              <div class="xl:max-w-8xl mx-xl md:mx-4xl xl:mx-auto">
                <h2 class="heading-underline mb-2xl">
                  Quick Links
                </h2>
                <ul class="basic-card--wrap mb-2xl sm:mr-0 xs:mr-0">
                  {% for story in card %}
                    <li class="test-one">
                      {{ card.basic({
                        color: story.color,
                        link: story.link,
                        title: story.title,
                        category: story.category,
                        icon: story.icon,
                        text: story.text,
                        linkText: story.linkText,
                    }) }}
                    </li>
                  {% endfor %}
                  <li>
                    {{ card.basic({
                    color: '',
                    link: '/',
                    title: 'IT support',
                    category: '',
                    icon: 'computing-science',
                    text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco.',
                    linkText: 'Link Words',
                })}}
                  </li>
                  <li>
                    {{ card.basic({
                    color: 'basic-card--yellow',
                    link: '/',
                    title: 'IT support',
                    category: '',
                    icon: 'computing-science',
                    text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco.',
                    linkText: 'Link Words',
                })}}
                  </li>
                  <li>
                    {{ card.basic({
                    color: '',
                    link: '/',
                    title: 'IT support',
                    category: '',
                    icon: 'computing-science',
                    text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco.',
                    linkText: 'Link Words',
                })}}
                  </li>
                  <li>
                    {{ card.basic({
                    color: 'basic-card--yellow',
                    link: '/',
                    title: 'IT support',
                    category: '',
                    icon: 'computing-science',
                    text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco.',
                    linkText: 'Link Words',
                })}}
                  </li>
                  <li>
                    {{ card.basic({
                    color: '',
                    link: '/',
                    title: 'IT support',
                    category: '',
                    icon: 'computing-science',
                    text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco.',
                    linkText: 'Link Words',
                })}}
                  </li>
                  <li>
                    {{ card.basic({
                    color: 'basic-card--yellow',
                    link: '/',
                    title: 'IT support',
                    category: '',
                    icon: 'computing-science',
                    text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non Lorem ullamco ullamco et ullamco.',
                    linkText: 'Link Words',
                })}}
                  </li>
                </ul>
              </div>
            </article>
            <article class="staff-update-feed py-5xl xl:px-xl">
              <div aria-hidden="true" class="flair-img staff-updates--dots">
                <img src="/themes/custom/typhoon/images/small-dots.png" alt="">
              </div>
              <div class="xl:max-w-8xl mx-xl md:mx-4xl xl:mx-auto">
                <h2 class="heading-underline mb-2xl">
                  Staff Updates
                </h2>
                <ul class="basic-card--wrap basic-card-image--wrap mt-2xl mr-2xl mb-2xl sm:mr-0 xs:mr-0">
                  <li>
                    <a role="Link" href=" {# {{cardLinkUrl}} #}" class="basic-card--link">
                      <div class="basic-card basic-card--image flex flex-col  bg-white " {# {{attributes.addClass(classes)}} #}>
                        <div class="basic-card--image-wrap">
                          <figure>
                            <img src=" {{test_image}}{# {{ cardImgSrc }} #}" alt="alt"/>
                            <div class="image-overlay"></div>
                          </figure>
                          <div
                            class="basic-card--text-wrap pt-xl pr-lg pb-md pl-xl xs:pt-md xs:pr-sm xs:pb-md xs:pl-md">
                            {# {% if cardCategory %} #}
                            <span
                              class="basic-card--category mb-xs">
                              {# {{ cardCategory }} #}
                              Category
                            </span>
                            {# {% endif %} #}
                            <h3
                              class="basic-card--title">
                              {# {{ cardTitle }} #}
                              A card title with a lot of words
                            </h3>
                          </div>
                        </div>
                        <span
                          class="aria-text">
                          {# {{ cardTitle }} #}
                          Card Title
                        </span>
                        <div class="basic-card--text-wrap pt-md pr-lg pb-2xl pl-xl xs:pt-md xs:pr-sm xs:pb-lg xs:pl-md">
                          <p
                            class="basic-card--desc pb-md">
                            {# {{ cardText}} #}
                            Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non. Lorem ullamco ullamco et ullamco sint.
                          </p>
                          <div class="cta--wrap">
                            <div
                              class="cta">
                              {# {{ cardLinkText }} #}
                              link text
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div {{attributes.addClass(classes)}}>
                      {{ card.basicImg({
                      color: 'basic-card--yellow',
                      imgSrc: test_image,
                      imgAlt: 'alt',
                      link: '/',
                      title: 'A card title here',
                      category: 'Category',
                      text: 'Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non. Lorem ullamco ullamco et ullamco sint.',
                      linkText: 'link text',
                  }) }}
                    </div>
                  </li>
                  <li>
                    <a role="Link" href=" {# {{cardLinkUrl}} #}" class="basic-card--link">
                      <div class="basic-card basic-card--image flex flex-col  bg-white " {# {{attributes.addClass(classes)}} #}>
                        <div class="basic-card--image-wrap">
                          <figure>
                            <img src=" {{test_image}}{# {{ cardImgSrc }} #}" alt="{{imageAlt}}"/>
                            <div class="image-overlay"></div>
                          </figure>
                          <div
                            class="basic-card--text-wrap pt-xl pr-lg pb-md pl-xl xs:pt-md xs:pr-sm xs:pb-md xs:pl-md">
                            {# {% if cardCategory %} #}
                            <span
                              class="basic-card--category mb-xs">
                              {# {{ cardCategory }} #}
                              Category
                            </span>
                            {# {% endif %} #}
                            <h3
                              class="basic-card--title">
                              {# {{ cardTitle }} #}
                              A card title with a lot of words
                            </h3>
                          </div>
                        </div>
                        <span
                          class="aria-text">
                          {# {{ cardTitle }} #}
                          Card Title
                        </span>
                        <div class="basic-card--text-wrap pt-md pr-lg pb-2xl pl-xl xs:pt-md xs:pr-sm xs:pb-lg xs:pl-md">
                          <p
                            class="basic-card--desc pb-md">
                            {# {{ cardText}} #}
                            Irure nisi incididunt deserunt quis nostrud cillum anim ea ex nisi veniam exercitation nisi sit. Labore nulla ex id non. Lorem ullamco ullamco et ullamco sint.
                          </p>
                          <div class="cta--wrap">
                            <div
                              class="cta">
                              {# {{ cardLinkText }} #}
                              link text
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <a class="cta" href="/">
                  More news stories
                </a>
              </div>
            </article>

            {# * hiding content for now #}
          {# {{ page.content }} #}
            {# /.layout-content #}
          </main>
          {# {% if page.sidebar_first %} <aside class="layout-sidebar-first" role="complementary"> {% include "@typhoon/navigation/side-nav.html.twig" %} </aside>{% endif %} #}
        </div>
        {# {% if page.footer %} #}
        {% include "@typhoon/navigation/footer-nav.html.twig" %}
        {# {% endif %} #}
      </div>
      {# /.layout-container #}
