{% macro basic(data) %}

  {% set defaultData = {
        color: '',
        link: '',
        title: '',
        category: '',
        icon: '',
        text: '',
        linkText: '',
    } %}

  {% set data = data ? defaultData|merge(data) : defaultData %}

  <a role="Link" href="{{ data.link }}" class="basic-card--link">
    <div class="bg-white flex flex-column {{data.color}}">
      <span class="aria-text border">
        {{ data.title }}
      </span>
      <div class="basic-card--text-wrap pt-xl pr-lg pb-2xl pl-xl xs:pt-md xs:pr-sm xs:pb-lg xs:pl-md">
        {% if data.category %}
          <span class="basic-card--category text-sm mb-xs">
            {{ data.category }}
          </span>
        {% endif %}
        {% if data.icon %}
          <span class="basic-card--category icon-{{ data.icon }} mb-xs text-2xl"></span>
        {% endif %}
        <h3 class="basic-card--title">
          {{ data.title }}
        </h3>
        <p class="basic-card--desc">
          {{ data.text}}
        </p>
        <div class="cta--wrap">
          <div class="cta">
            {{ data.linkText }}
          </div>
        </div>
      </div>
    </div>
  </a>
{% endmacro %}
