{# 
/**
 * @file
 * Default template for individual staff profile page.
 *
 * Available variables:
 * - staffattributes: Array of staffattribute informations.
 *   A staffattribute information consists of:
 *   - netid
 *   - surname, firstname, midname
 *   - fullname
 *   - address
 *   - zipcode
 *   - telephone
 *   - jobdescr
 *   - unitname_str
 *   - uri
 *   - alt
 *   - selworks
 */
#}

<table>
  <tbody>
    {% for staffattribute in staffattributes %}
<<<<<<< HEAD
        <tr>
            <td>{{ staffattribute.fullname }}<br/>
            {{ staffattribute.jobdescr }}<br/>
            <a href="/departments/{{ staffattribute.unitname_alias }}">{{ staffattribute.unitname_str }}</a><br/>
            {{ staffattribute.address }}<br/>
            {{ staffattribute.telephone }}<br/>
            <a href="mailto={{ staffattribute.netid }}@iastate.edu">{{ staffattribute.netid }}@iastate.edu</a></td>
            <td><img src="{{ staffattribute.uri }}" alt="{{ staffattribute.fullname }}" width="144" height="180" /></td>
        </tr>
=======
      <tr>
        <td>
          {{ staffattribute.fullname }}<br />
          {{ staffattribute.title }}<br />
          <a href="/departments/{{ staffattribute.unitname_alias }}">
            {{ staffattribute.unitname_str }}
          </a><br />
          {{ staffattribute.address }}<br />
          {{ staffattribute.telephone }}<br />
          <a href="mailto={{ staffattribute.netid }}@iastate.edu">
            {{ staffattribute.netid }}@iastate.edu
          </a>
        </td>
        <td>
          <img src="{{ staffattribute.uri }}"
            alt="{{ staffattribute.fullname }}"
            width="144"
            height="180" />
        </td>
      </tr>
>>>>>>> df3897c1b4e844a6ec0a73774d4a8e143191c903
    {% endfor %}
  </tbody>
</table>
