{#
/**
 * @file
 * Default template for the department staff list page.
 *
 * Available variables:
 * - deptpersons: Array of deptperson informations.
 *   A staffperson information consists of:
 *   - netid
 *   - surname, firstname
 *   - jobdescr
 *   - uri
 *   - not used (midname, firstchar, staff_ord, unit_ord)
 */
#}


    {% for deptperson in deptpersons %}
	<figure style="display:inline-block;width:200px;padding-bottom:2em;">
	 {% if deptperson.uri == "" %}
	  <img src="https://app.lib.iastate.edu/images/grantwoodmural.jpg" alt="Grant Wood mural" width="144" height="180" />
	 {% endif %}
	 {% if deptperson.uri != "" %}
	  <img src="{{ deptperson.uri }}" alt="{{ deptperson.firstname }} {{ deptperson.surname }}" width="144" height="180" />
	 {% endif %}
	  <figcaption><a href="/staff-profile?netid={{ deptperson.netid }}">{{ deptperson.firstname }} {{ deptperson.surname }}</a> <br/><span style="font-size:80%;">{{ deptperson.jobdescr }}</span></figcaption>
	</figure>
    {% endfor %}


