{# 
/**
 * @file
 * Default template for the committee staff list page.
 *
 * Available variables:
 * - committeepersons: Array of committeeperson informations.
 *   A staffperson information consists of:
 *   - netid
 *   - surname, firstname
 *   - jobdescr
 *   - uri
 *   - role
 *   - not used (midname, firstchar, staff_ord, unit_ord)
 */
#}

{% for committeeperson in committeepersons %}
  <figure style="display:inline-block;width:200px;padding-bottom:2em;">
    {% if committeeperson.uri == '' %}
      <img
        src="https://app.lib.iastate.edu/images/grantwoodmural.jpg"
        alt="Grant Wood mural"
        width="144"
        height="180"
        loading="lazy"
      />
    {% endif %}
    {% if committeeperson.uri != '' %}
      <img
        src="{{ committeeperson.uri }}"
        alt="{{ committeeperson.firstname }} {{ committeeperson.surname }}"
        width="144"
        height="180"
        loading="lazy"
      />
    {% endif %}
    <figcaption>
      <a href="/staff-profile?netid={{ committeeperson.netid }}">
        {{ committeeperson.firstname }} {{ committeeperson.surname }} - {{
          committeeperson.role
        }}
      </a>
      <br /><span style="font-size:80%;">{{ committeeperson.title }}</span>
    </figcaption>
  </figure>
{% endfor %}
