{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    paragraph.field_basic_card_color.value,
    'bg-white',
    'flex',
    'flex-column',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set cardTitle = content.field_basic_card_title|field_value %}
{% set cardCategory = content.field_basic_card_category.0['#title'] %}
{% set cardIcon = content.field_basic_card_icon|field_value %}
{% set cardText = content.field_basic_card_text|field_value %}
{% set cardLinkText = content.field_basic_card_link.0['#title'] %}
{% set cardLink = content.field_basic_card_link.0['#url'] %}

{% block paragraph %}
  {% block content %}
    <a role="Link" href="{{ cardLink }}" class="basic-card--link">
      <div {{attributes.addClass(classes)}}>
        <span class="aria-text border">
          {{ cardTitle }}
        </span>
        <div class="basic-card--text-wrap pt-xl pr-lg pb-2xl pl-xl xs:pt-md xs:pr-sm xs:pb-lg xs:pl-md">
          {% if cardCategory %}
            <span class="basic-card--category text-sm mb-xs">
              {{ cardCategory }}
            </span>
          {% endif %}
          {% if cardIcon %}
            <span class="basic-card--category icon-{{ cardIcon }} mb-xs text-2xl"></span>
          {% endif %}
          <h3 class="basic-card--title">
            {{ cardTitle }}
          </h3>
          <p class="basic-card--desc">
            {{ cardText}}
          </p>
          <div class="cta--wrap">
            <div class="cta">
              {{ cardLinkText }}
            </div>
          </div>
        </div>
      </div>
    </a>

  {% endblock %}
{% endblock paragraph %}
